@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

$roboto: 'Roboto', sans-serif;
$roboto-light: 300;
$roboto-regular: 400;

$playfair: 'Playfair Display', serif;
$playfair-regular: 400;
$playfair-black-italic: 900;